AnimalJudgmentAIApp/AnimalJudgmentModel.h5
AnimalJudgmentAIApp/animal_images/
AnimalJudgmentAIApp/__pycache__/
AnimalJudgmentAIApp/flickr_api_code.txt
AnimalJudgmentAIApp/AnimalJudgmentAIApp/pyvenv.cfg
AnimalJudgmentAIApp/imagefiles.npy
AnimalJudgmentAIApp/AnimalJudgmentAIApp/
AnimalJudgmentAIApp/test_data/
AnimalJudgmentAIApp/uploads/
